// --------------------
// Code
// --------------------
pre {
  font-family: Source Code Pro;
  margin: 0;
  line-height: 28px;
  font-size: 14px;
  padding: 16px;
  background: #F5F5F5;
  border: 2px solid #e8e8e8;
  color: #a1a1a1;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  white-space: nowrap;
  font-weight: 400;
}
