// Base

*, *:before, *:after {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  // -webkit-font-smoothing: antialiased;
  // text-rendering: optimizeLegibility;
  // -moz-osx-font-smoothing: grayscale;
  // font-feature-settings: 'liga';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  background: transparent;
  border: 0;
  border-style: solid;
}
body {
  font-family: Open Sans;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
input[type="text"] {
  width: 100%;
  display: block;
}
textarea {
  resize: none;
}
input::-ms-clear, input::-ms-reveal, select::-ms-expand {
  display: none;
}
input[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}
input[type="submit"] {
  padding: 0;
}
[placeholder]:empty:before {
  content: attr(placeholder);
}
[class*="icon-"] {
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
  font-size: 0;
}
[class*="icon-"]:before {
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  font-size: 40px;
  height: 1em;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
}
.icon-flexiblegs {
  text-align: center;
}
.icon-flexiblegs:before {
  width: 40px;
}

.icon-xl {
  line-height: 64px;
}
.icon-xl:before {
  font-size: 64px;
  width: 64px;
  height: 64px;
}

.icon-md {
  line-height: 36px;
}
.icon-md:before {
  font-size: 36px;
  width: 36px;
  height: 36px;
}

.icon-sm {
  line-height: 24px;
}
.icon-sm:before {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.icon-xs {
  line-height: 18px;
}
.icon-xs:before {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.xl-ffscp {
  font-family: Source Code Pro;
}
.youtube-iframe {
  width: 100%;
  height: 180px;
}

.mc-input-text {
  width: 100%;
  display: block;
  padding: 0 16px;
  color: #222;
  background: #fff;
  border: 2px solid #12d469;
  border-right: 0;
  outline: none;
  -webkit-border-radius: 8px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius: 8px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: text;
  font-family: Source Code Pro;
  font-size: 16px;
  line-height: 56px;
  height: 56px;
}
.mc-input-button {
  width: 100%;
  padding: 0;
  -webkit-border-radius: 0;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius: 0;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 0;
  background: #12d469;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  line-height: 56px;
  height: 56px;
}

.flexiblegs-presentation {
  background: url('/img/bg@flexiblegs-presentation.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 160px;
}

.device {
  .backend {
    fill:#ffffff;
  }
  .frontend {
    fill:#222;
  }
  &--macbook {
    svg {
      width: 100px;
      height: 58px;
    }
  }
  &--ipad-landscape {
    svg {
      width: 58px;
      height: 40px;
    }
  }
  &--ipad-portrait {
    svg {
      width: 40px;
      height: 58px;
    }
  }
  &--iphone-landscape {
    svg {
      width: 58px;
      height: 28px;
    }
  }
  &--iphone-portrait {
    svg {
      width: 28px;
      height: 56px;
    }
  }
}
